tr.read {
  background-image: linear-gradient(to right, rgba(255,0,0,0.9), rgba(255,0,0,0.25));
}

tr.to-read {
  background-image: linear-gradient(to right, rgba(255,255,0,0.9), rgba(255,255,0,0.25));
}

tr.in-progress {
  background-image: linear-gradient(to right, rgba(0,255,0,0.9), rgba(0,255,0,0.25));
}

span {
  display: inline-block;
}

tr[class~="to-read"] span[class~="status"] {
  border: 1px solid black;
   padding: 0.2rem 0.45rem;
  border-radius: 0.25rem;
  background-image: radial-gradient(white, transparent 90%);}

tr[class~="read"] span[class~="status"] {
  border: 1px solid black;
   padding: 0.2rem 0.45rem;
  border-radius: 0.25rem;
  background-image: radial-gradient(white, transparent 90%);}

tr[class~="in-progress"] span[class~="status"] {
  border: 1px solid black;
   padding: 0.2rem 0.45rem;
  border-radius: 0.25rem;
  background-image: radial-gradient(white, transparent 90%);}

span[class~="rate"], span[class~="rate"] {
  height: 20px;
  width: 100px;
  padding: 5px;
}